.lms-ws-survey-page {
    display: flex;
    justify-content: center;
}

.lms-ws-survey-page .ant-tabs-nav-list {
    width: 100%;
}

.lms-ws-survey-page .ant-tabs-tab {
    width: 50%;
    justify-content: center;
}

.ant-tabs-content-holder {
    width: 100%;
}

.ant-progress-bg {
    margin: 0;
}

.lms-ws-survey-page .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
}

.lms-ws-survey-page .ant-checkbox-checked .ant-checkbox-inner::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    /* disbled
position: unset;
display: unset;*/
    border: unset;
    /*border-top: unset;
border-left: unset;
content: none; */
}

.lms-ws-survey-page .ant-checkbox-inner::after {
    border: none;
    /* new set */
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    border-top: 0;
    border-left: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: ' ';
}