.bannerLayout{
    width: 100%;
    max-height:300px;
    position: relative;
    height: 768px;
    background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
    .contentBanner{
        position: absolute;
    top: 46px;
    right: 173px;
    width: 550px;
    text-align: center;
    .bannerHeader{
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #FBF4F4;
    }
    .bannerdescript{
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    color: #FBF4F4;
    text-align: center;
    }
    .buttonView{
        display: inline-block;
    width: 130px;
    height: 50px;
    /* text-align: center; */
    line-height: 50px;
    /* border: 2px solid; */
    font-weight: 500;
    background: #5754FF;
    backdrop-filter: blur(4px);
    color: #fff;
    cursor: pointer;
    }
    }
}
.skewTop{
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    width: 100%;
    height: 200px;
    background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
}
