// .skewTopContent{
//     background: #cacaca;
//     transform: rotate(180deg);
//     width: 100%;
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0%);
// }

// .skewBottomContent{
//     background: #cacaca;
//     width: 100%;
//     transform: rotate(180deg);
//     clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
// }

.titleContent{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;

opacity: 0.45;
}

.skewBottom{
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
    background: #fff;
}

.background{
    background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
}

.fullWidth{
    width: 100%;
    padding: 25px 0
}

.facilityItem{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    background: #fff;
    padding: 15px 50px;
}
