@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container{
  position: fixed;
  width: 65px;
  margin-top: 10px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);
  z-index: 1000
}
.container a{
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  color: white;
  line-height: 60px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
}
.container a i{
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 27px;
}
.container a span{
  position: relative;
  margin-left: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 13px;
  border-radius: 3px;
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.4);
}
.container a span:before{
  position: absolute;
  content: '';
  top: 50%;
  left: -8px;
  height: 18px;
  width: 18px;
  transform: translateY(-50%) rotate(45deg);
}
.container a:nth-child(1),
.container a:nth-child(1) span,
.container a:nth-child(1) span:before{
  background: #423737;
}
.container a:nth-child(2),
.container a:nth-child(2) span,
.container a:nth-child(2) span:before{
  background: #B32977;
}

.container a:nth-child(3),
.container a:nth-child(3) span,
.container a:nth-child(3) span:before{
  background: #4cd137;
}

.container a:hover span{
  margin-left: 75px;
  opacity: 1;
  visibility: visible;
}
