.lms-ws-student-page .ant-tabs-nav-list{
    width: 100%;
}

.lms-ws-student-page .ant-tabs-tab{
    width: 33%;
    justify-content: center;
}

.lms-ws-student-page .ant-tabs-content-holder{
    width:100%
}
