*, html{
    margin: 0 auto;
    box-sizing: border-box;
    --width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.mainLayout{  
    min-height: 100vh;  
    .header{
        width: var(--width);
        background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
    }
    
    .content{
        position: relative;
        width: 100%;
        // background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
    }
    
    .footer{
        width: var(--width);
        background: linear-gradient(-90deg, rgba(15, 12, 164, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #25DDDD;
    }
}


